*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#eef3ff;
  padding:20px;
}

.container{
  background:#fff;
  padding:35px;
  border-radius:22px;
  width:1150px;
  box-shadow:0 12px 32px rgba(0,0,0,0.12);
}

.container h2{
  text-align:center;
  font-size:33px;
  margin-bottom:25px;
  font-weight:700;
}

.row{
  display:flex;
  gap:22px;
  margin-bottom:22px;
}

.row input,
.row textarea,
.row button{
  flex:1;
  padding:15px;
  border-radius:12px;
  border:1px solid #cbd5e1;
  font-size:16px;
}

.bigbox{
  height:260px;
  border-radius:14px;
}

.recipient-box{
  flex:1;
  display:flex;
  flex-direction:column;
}

.small-info{
  text-align:right;
  margin-top:8px;
  color:#1a73e8;
}

.row button{
  padding:17px;
  background:#3b82f6;
  color:#fff;
  border:none;
  font-size:18px;
  border-radius:12px;
}

/* POPUP */
.popup{
  position:fixed;
  top:25px;
  left:50%;
  transform:translateX(-50%);
  padding:18px 35px;
  background:#22c55e;
  color:#fff;
  font-size:18px;
  border-radius:12px;
  box-shadow:0 4px 14px rgba(0,0,0,0.2);
  text-align:center;
  z-index:9999;
}
.popup .ok{
  margin-top:10px;
  padding:6px 18px;
  background:#fff;
  color:#000;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
