#popupOverlay{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.45);
}

#popupBox{
  display:none;
  position:fixed;
  padding:24px;
  width:340px;
  background:white;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  border-radius:14px;
  border-top:6px solid #3b82f6;
  box-shadow:0 15px 40px rgba(0,0,0,0.19);
}

#popupText{
  font-size:18px;
  margin-bottom:14px;
}

#popupBtn{
  background:#3b82f6;
  color:white;
  padding:8px 24px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:17px;
}
