body {
    background: #eaf1ff;
    font-family: Arial;
}

.main-box {
    width: 82%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px #d5d5d5;
}

.logo-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
}

.row, .row-large {
    display: flex;
    gap: 28px;
    margin-bottom: 22px;
}

input, textarea {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    font-size: 18px;
}

.row-large textarea {
    height: 220px;
}

button {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background: #2f80ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:disabled {
    background: #8fb4ff;
}

#status {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}
