body {
  background: #eef3ff;
  font-family: Arial, sans-serif;
}

.main-card {
  width: 1150px;
  margin: 40px auto;
  padding: 35px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 0 30px rgba(0,0,0,0.10);
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 600;
}

.row-group {
  display: flex;
  gap: 25px;
  margin-bottom: 22px;
}

.row-group input {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #d0d5e4;
  background: #f9fbff;
  font-size: 15px;
}

.text-group {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.text-group textarea {
  flex: 1;
  height: 200px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #d0d5e4;
  font-size: 15px;
}

.status-box {
  text-align: right;
  margin-bottom: 25px;
  font-size: 14px;
  color: #1f6bed;
}

.btn-wrap {
  display: flex;
  gap: 25px;
}

.btn-wrap button {
  flex: 1;
  padding: 16px;
  font-size: 18px;
  background: #3b82f6;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.btn-wrap button:hover {
  background: #245dde;
}

#statusText {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #cc0000;
}
