body {
    background: #e9edfc;
    font-family: system-ui;
    margin: 0;
}

.main-box {
    width: 70%;
    margin: 60px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 18px #d0d0d0;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
    font-size: 16px;
}

textarea {
    height: 200px;
    resize: none;
}

button {
    width: 100%;
    padding: 18px;
    background: #2979ff;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1f63d6;
}
