*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:linear-gradient(135deg,#dbeafe,#eff6ff);
  padding:20px;
}

.login-card{
  background:rgba(255,255,255,0.85);
  backdrop-filter:blur(14px);
  padding:30px;
  border-radius:16px;
  width:340px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.login-logo{font-size:44px;margin-bottom:10px;}

.login-card input{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:1px solid #cbd5e1;
  margin:8px 0;
}

.login-card button{
  width:100%;
  padding:12px;
  background:#3b82f6;
  color:#fff;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

#loginStatus{color:#ef4444;margin-top:8px;}

.container{
  background:rgba(255,255,255,0.9);
  backdrop-filter:blur(10px);
  padding:22px;
  border-radius:20px;
  width:900px;
  max-width:95%;
}

.container h2{
  text-align:center;
  font-size:28px;
  margin-bottom:18px;
  font-weight:600;
}

.row{
  display:flex;
  gap:14px;
  margin-bottom:14px;
}

.row input,
.row textarea,
.row button{
  flex:1;
  padding:12px;
  border-radius:10px;
  border:1px solid #cbd5e1;
  font-size:15px;
}

.bigbox{
  min-height:170px;
}

.small-info{
  text-align:right;
  margin-top:4px;
  font-size:13px;
  color:#0369a1;
}

.row button{
  background:#3b82f6;
  color:white;
  border:none;
  font-size:17px;
  padding:13px;
  cursor:pointer;
  border-radius:10px;
}

#statusMessage{
  text-align:center;
  color:#ef4444;
  margin-top:10px;
  font-size:16px;
}

#progressContainer{
  margin-top:12px;
  width:100%;
  height:8px;
  background:#e2e8f0;
  border-radius:10px;
  overflow:hidden;
}

#progressBar{
  height:100%;
  width:0%;
  background:linear-gradient(to right,#3b82f6,#06b6d4);
  transition:width 0.4s;
}

/* POPUP */
.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 22px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  opacity: 1;
  transition: all 0.6s ease;
  z-index: 99999;
}
