body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box, .launcher-box {
  background: #1e1e1e;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ffcc;
  text-align: center;
}

input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #00ffcc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #00ccaa;
}

#msg {
  margin-top: 10px;
  color: red;
}
