*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#eef3ff;
}

.login-card{
  background:#fff;
  padding:35px;
  width:380px;
  border-radius:16px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.container{
  background:#fff;
  padding:40px;
  width:1200px;
  border-radius:30px;
  box-shadow:0 10px 50px rgba(0,0,0,0.12);
}

.row{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}

.bigbox{
  flex:1;
  min-height:250px;
  padding:12px;
  border:1px solid #ccd3e0;
  border-radius:15px;
  resize:vertical;
  font-size:15px;
}

.row input{
  flex:1;
  padding:14px;
  border-radius:15px;
  border:1px solid #ccd3e0;
  font-size:15px;
}

.row button{
  flex:1;
  padding:16px;
  background:#2f71f0;
  color:#fff;
  border:none;
  border-radius:12px;
  font-size:18px;
  cursor:pointer;
  transition:0.2s;
}

.row button:hover{
  opacity:0.85;
}
