body {
    background: #eaf1ff;
    font-family: Arial;
}

.main-box {
    width: 80%;
    margin: auto;
    background: #fff;
    margin-top: 40px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px #dcdcdc;
}

.logo-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.row, .row-large {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.row-large textarea {
    height: 220px;
}

button {
    width: 100%;
    padding: 15px;
    background: #2f80ff;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    background: #9ec4ff;
}

/* POPUP */
#popup {
    position: fixed;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 20px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    transition: 0.4s;
}

/* Login Page */
.login-box {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px #ccc;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 18px;
}

.login-box button {
    width: 100%;
    padding: 15px;
    background: #2f80ff;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
}
