body {
  background: #eef3ff;
  font-family: Arial;
}

.title {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

.container {
  width: 70%;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

input, textarea {
  flex: 1;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

textarea {
  height: 180px;
}

button {
  flex: 1;
  padding: 18px;
  background: #2e85ff;
  border: none;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #126dff;
}

#logoutBtn {
  background: #ff5050;
}

#logoutBtn:hover {
  background: #ff3030;
}

#status {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: green;
}
