body {
    background: #e8edff;
    font-family: Arial;
}

.main-box, .login-box {
    width: 70%;
    background: #fff;
    padding: 35px;
    margin: 70px auto;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
}

.row {
    display: flex;
    gap: 22px;
    margin-bottom: 22px;
}

textarea, input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #bfc8d8;
    border-radius: 12px;
}

textarea {
    height: 160px;
}

.btn-row {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

button {
    flex: 1;
    background: #2f76ff;
    color: #fff;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
}

button:disabled {
    background: gray;
}

.icon {
    width: 35px;
    margin-right: 10px;
}
