.big-row {
  display: flex;
  gap: 20px;
}

.box-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.big-box {
  width: 100%;
  height: 260px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 12px;
  font-size: 15px;
  resize: vertical;
}

.color-row {
  margin-top: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.html-label {
  margin-top: 12px;
  display: block;
  text-align: center;
}
