body {
  background: #e9efff;
  font-family: Arial, sans-serif;
}

.login-box {
  width: 350px;
  margin: 120px auto;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
}

.title {
  text-align: center;
  margin-top: 40px;
}

.container {
  width: 80%;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
  margin-bottom: 40px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

textarea { height: 160px; }

button {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background: #2f74ff;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#status {
  margin-top: 12px;
  text-align: center;
  font-size: 18px;
}
