body {
  background: #eef3ff;
  font-family: Arial;
}

.center-card {
  width: 350px;
  margin: 140px auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  text-align: center;
}

.center-card input {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border:1px solid #ccc;
}

.center-card button {
  width:100%;
  padding:12px;
  background:#3b82f6;
  border:none;
  border-radius:10px;
  color:white;
}

.box {
  width: 1150px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 0 35px rgba(0,0,0,0.12);
}

.row {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.row input,
.row textarea {
  flex: 1;
  padding: 12px;
  border:1px solid #d5d5d5;
  border-radius: 10px;
}

.row textarea {
  height: 200px;
  resize: none;
}

.btn-wrap {
  display: flex;
  gap: 25px;
}

.btn-wrap button {
  flex:1;
  padding:15px;
  background:#3b82f6;
  border:none;
  border-radius:10px;
  color:white;
  font-size:18px;
}
