*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#eef3ff;
  padding:20px;
}

/* MAIN CONTAINER */
.container{
  background:#fff;
  padding:45px;
  border-radius:26px;
  width:1200px;
  box-shadow:0 15px 38px rgba(0,0,0,0.12);
}

.heading-title{
  text-align:center;
  font-size:38px;
  font-weight:700;
  margin-bottom:40px;
}

.row{
  display:flex;
  gap:30px;
  margin-bottom:28px;
}

.row input{
  flex:1;
  padding:16px;
  font-size:17px;
  border-radius:12px;
  border:1px solid #cbd5e1;
}

.bigbox-left{
  width:48%;
  height:260px;
  padding:16px;
  font-size:17px;
  border-radius:14px;
  border:1px solid black;
  resize:none;
}

.bigbox-right{
  width:100%;
  height:260px;
  padding:16px;
  font-size:17px;
  border-radius:14px;
  border:1px solid #cbd5e1;
  resize:none;
}

.recipient-box{
  width:48%;
  display:flex;
  flex-direction:column;
}

.small-info{
  text-align:right;
  margin-top:8px;
  font-size:15px;
  font-weight:600;
  color:#1a73e8;
}

.btn-row{
  display:flex;
  gap:40px;
  margin-top:30px;
}

.big-btn{
  flex:1;
  padding:18px;
  font-size:21px;
  font-weight:600;
  border:none;
  border-radius:14px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
  transition:0.2s ease-in-out;
}

.big-btn:hover{
  background:#2461da;
}

/* SAME COLOR FOR LOGOUT */
.logout-btn{
  background:#3b82f6 !important;
}

.logout-btn:hover{
  background:#2461da !important;
}

#statusMessage{
  text-align:center;
  margin-top:18px;
  font-size:20px;
  font-weight:bold;
}
