body {
    background:#eaf1ff;
    font-family:Arial;
}

.main-box {
    width:80%;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 0 25px #d8d8d8;
}

.logo-title {
    text-align:center;
    font-size:35px;
}

.row, .row-large {
    display:flex;
    gap:20px;
    margin-bottom:25px;
}

input,textarea {
    width:100%;
    padding:15px;
    font-size:18px;
    border-radius:10px;
    border:1px solid #ccc;
}

.row-large textarea {
    height:220px;
}

button {
    width:100%;
    padding:15px;
    background:#2f80ff;
    color:white;
    border:none;
    border-radius:10px;
    font-size:20px;
}

button:disabled {
    background:#9cbcfc;
}

.counter-box {
    margin-top:20px;
    font-size:22px;
    padding:10px;
    background:#f4f7ff;
    border-left:5px solid #2f80ff;
    border-radius:10px;
}

#popup {
    position:fixed;
    top:-80px;
    left:50%;
    transform:translateX(-50%);
    padding:12px 20px;
    background:#26c847;
    color:white;
    border-radius:10px;
    transition:.4s;
}

.login-box {
    width:350px;
    margin:150px auto;
    padding:30px;
    text-align:center;
    background:white;
    border-radius:15px;
    box-shadow:0 0 20px #ccc;
}
