*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  background:#eef3ff;
  padding:20px;
  height:100vh;
}

/* LOGIN CARD */
.login-card{
  background:#fff;
  padding:40px;
  width:380px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 12px 32px rgba(0,0,0,0.12);
}
.login-logo{
  font-size:50px;
  margin-bottom:10px;
}
.login-card input{
  width:100%;
  padding:14px;
  margin:10px 0;
  border-radius:10px;
  border:1px solid #cbd5e1;
  font-size:15px;
}
.login-card button{
  width:100%;
  padding:14px;
  background:#3b82f6;
  color:#fff;
  border:none;
  border-radius:10px;
  font-size:17px;
  cursor:pointer;
}
.subtitle{
  margin-bottom:15px;
  color:#6b7280;
}

/* MAIN CONTAINER */
.container{
  background:#fff;
  padding:40px;
  border-radius:20px;
  width:1100px;
  max-width:95%;
  box-shadow:0 12px 32px rgba(0,0,0,0.12);
}
.container h2{
  text-align:center;
  margin-bottom:30px;
  font-size:32px;
}

.row{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}
.row input, .row textarea{
  flex:1;
  padding:14px;
  border-radius:10px;
  border:1px solid #cbd5e1;
}
.row input:focus, .row textarea:focus{
  border-color:#3b82f6;
}

.bigbox{
  min-height:180px;
  resize:vertical;
}

.recipient-box{
  flex:1;
  display:flex;
  flex-direction:column;
}
.small-info{
  font-size:14px;
  color:#1a73e8;
  margin-top:6px;
  text-align:right;
}

.row button{
  flex:1;
  padding:14px;
  font-size:18px;
  font-weight:600;
  color:#fff;
  background:#3b82f6;
  border:none;
  border-radius:10px;
  cursor:pointer;
}
.row button:hover{
  background:#2563eb;
}

#statusMessage{
  text-align:center;
  margin-top:10px;
  color:#ef4444;
}
