body {
  background: #f2f6fb;
  font-family: Arial;
}

.box {
  width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
}

textarea, input {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

textarea {
  height: 120px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button {
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 16px;
}
