body {
    background: #eaf1ff;
    font-family: Arial;
}

.main-box {
    width: 82%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 40px;
    border-radius: 22px;
    box-shadow: 0 0 25px #d5d5d5;
}

.icon {
    width: 38px;
    vertical-align: middle;
}

.logo-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 700;
    animation: fadeIn 1s;
}

.row, .row-large {
    display: flex;
    gap: 28px;
    margin-bottom: 22px;
}

input, textarea {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    font-size: 18px;
}

.row-large textarea {
    height: 220px;
}

button {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background: #2f80ff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #1b6af2;
}

button:disabled {
    background: #8fb4ff;
}

#status {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
}

#progressContainer {
    width: 100%;
    height: 12px;
    background: #d7e3ff;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    margin-bottom: 20px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background: #2f80ff;
    transition: 0.4s linear;
}

/* Fade Animation */
.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0px); }
}
