*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:linear-gradient(135deg,#dbeafe,#eff6ff);
  padding:20px;
}

/* LOGIN */
.login-card{
  background:rgba(255,255,255,0.85);
  backdrop-filter:blur(14px);
  padding:28px;
  border-radius:16px;
  width:330px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.login-card input{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:1px solid #cbd5e1;
  margin:8px 0;
}

.login-card button{
  width:100%;
  padding:12px;
  background:#3b82f6;
  color:#fff;
  border:none;
  border-radius:10px;
  font-size:16px;
}

/* MAIN */
.container{
  background:#fff;
  padding:28px;
  border-radius:22px;
  width:1000px;
  max-width:95%;
  box-shadow:0 15px 40px rgba(0,0,0,0.12);
}

.container h2{
  text-align:center;
  font-size:32px;
  margin-bottom:18px;
  font-weight:600;
}

.row{
  display:flex;
  gap:18px;
  margin-bottom:18px;
}

.row input,
.row textarea,
.row button{
  flex:1;
  padding:14px;
  border-radius:10px;
  border:1px solid #cbd5e1;
  font-size:15px;
}

.bigbox{
  min-height:190px;
}

.small-info{
  text-align:right;
  margin-top:6px;
  font-size:14px;
  color:#0369a1;
}

.row button{
  background:#3b82f6;
  color:white;
  border:none;
  font-size:18px;
  padding:15px;
  cursor:pointer;
  border-radius:10px;
}

#statusMessage{
  text-align:center;
  color:#ef4444;
  margin-top:8px;
}

/* POPUP */
.popup{
  position:fixed;
  top:22px;
  left:50%;
  transform:translateX(-50%);
  padding:15px 25px;
  color:white;
  font-size:18px;
  border-radius:14px;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
  z-index:9999;
  transition:all .6s ease;
}

.popup-btn{
  margin-top:10px;
  background:white;
  color:black;
  padding:6px 14px;
  border:none;
  border-radius:8px;
  font-size:15px;
  cursor:pointer;
}

.popup-btn:hover{
  background:#e5e5e5;
}
