#overlay{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100vw;height:100vh;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(3px);
}

#popup{
  display:none;
  position:fixed;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
  text-align:center;
  width:380px;
}

#popupMsg{
  font-size:20px;
  margin-bottom:20px;
}

#popupOk{
  padding:12px 35px;
  background:#0077ff;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
