body {
  background: #eef3ff;
  font-family: Arial;
}

.login-box, .card {
  width: 950px;
  margin: 40px auto;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.13);
}

.login-box input {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 14px;
  background: #3b82f6;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}

.row2 {
  display: flex;
  gap: 25px;
}

textarea {
  flex: 1;
  height: 200px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 14px;
}

#previewArea {
  margin-top: 25px;
  padding: 15px;
  background: #fafafa;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

h2 { text-align:center; }
