*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#eef3ff;
  padding:20px;
}

/* LOGIN */
.login-card{
  background:#fff;
  padding:28px;
  border-radius:16px;
  width:330px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.login-card input{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:1px solid #cbd5e1;
  margin:8px 0;
}

.login-card button{
  width:100%;
  pad
