body {
    background: #eef2ff;
    font-family: Arial;
    text-align: center;
}

.title {
    font-size: 40px;
    margin-top: 40px;
}

.icon {
    width: 40px;
    vertical-align: middle;
}

.container {
    width: 80%;
    margin: auto;
}

input, textarea {
    width: 45%;
    padding: 14px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

textarea {
    height: 180px;
}

button {
    width: 40%;
    padding: 18px;
    margin: 20px;
    background: #3f8bff;
    border: none;
    color: #fff;
    font-size: 22px;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#status {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}
