body {
  background: #e9edfc;
  font-family: Arial;
  text-align: center;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 40px;
  font-size: 32px;
}

.container {
  width: 85%;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 48%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.textbox {
  width: 48%;
  height: 160px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.btn {
  width: 48%;
  padding: 16px;
  background: #2e77ff;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.logout {
  background: #2e77ff;
}

.status {
  text-align: center;
  color: green;
  font-size: 18px;
  margin-top: 15px;
}
