body {
    background: #e8edff;
    font-family: system-ui;
}

.main-box {
    width: 70%;
    margin: 50px auto;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 35px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

input, textarea {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
    font-size: 16px;
}

textarea {
    height: 200px;
    resize: none;
}

button {
    width: 100%;
    padding: 18px;
    background: #2f78ff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #1f63d5;
}

.login-box {
    width: 360px;
    margin: 120px auto;
    padding: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.login-box input {
    margin-bottom: 20px;
}
