body {
    background: #eef2ff;
    font-family: Arial;
}

.container {
    margin: 50px auto;
    padding: 40px;
    background: #fff;
    width: 80%;
    border-radius: 22px;
    box-shadow: 0px 4px 20px #00000015;
}

.title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: bold;
}

.icon {
    width: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;
}

.input, .textarea {
    flex: 1;
    padding: 18px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 17px;
}

.textarea {
    height: 180px;
}

.btn {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.send {
    background: #3b82f6;
}

.logout {
    background: #3b82f6;
}

.status {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

/* Popup Box */
.popup {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: #3b82f6;
    color: white;
    padding: 14px 26px;
    border-radius: 10px;
    font-size: 18px;
    display: none;
    box-shadow: 0px 4px 14px #00000040;
}
