body {
    background: #e8eeff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background: white;
    padding: 40px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0002;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

textarea {
    height: 180px;
    resize: none;
}

button {
    width: 40%;
    padding: 15px;
    margin: 15px;
    background: #347cff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    background: #7aa7ff;
}

.login-page {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.login-box {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0002;
    text-align: center;
}

#status {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}
