*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif;}

body{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  padding-top:40px;
  background:#eef3ff;
}

/* MAIN CARD */
.container{
  background:#fff;
  padding:40px;
  width:1100px;
  border-radius:22px;
  box-shadow:0 12px 32px rgba(0,0,0,0.12);
}

.container h2{
  text-align:center;
  font-size:32px;
  margin-bottom:30px;
}

/* ROW */
.row{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}

.row input,
.row textarea,
.row button{
  flex:1;
  padding:14px;
  border:1px solid #cbd5e1;
  border-radius:10px;
  font-size:15px;
}

.big-row{
  height:200px;
}

.bigbox{
  min-height:200px;
  resize:vertical;
}

/* INFO TEXT */
.info{
  text-align:right;
  color:#1a73e8;
  font-weight:600;
  margin:-5px 0 10px 0;
}

/* BUTTONS */
.row button{
  background:#3b82f6;
  color:#fff;
  font-size:18px;
  font-weight:600;
  cursor:pointer;
  transition:0.25s;
  border-radius:10px;
}
.row button:hover{
  background:#2563eb;
}

#statusMessage{
  text-align:center;
  color:#ef4444;
  font-size:14px;
  margin-top:5px;
}

/* LOGIN PAGE */
.login-card{
  background:#fff;
  padding:35px;
  width:380px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 12px 32px rgba(0,0,0,0.15);
}

.login-logo{
  font-size:52px;
  margin-bottom:10px;
}

.login-sub{
  color:#6b7280;
  margin-bottom:20px;
}

.login-card input{
  width:100%;
  margin:8px 0;
  padding:12px;
  border:1px solid #cbd5e1;
  border-radius:8px;
}

.login-card button{
  width:100%;
  background:#3b82f6;
  padding:12px;
  border:none;
  border-radius:8px;
  color:white;
  font-size:18px;
  margin-top:10px;
  cursor:pointer;
}
