body {
  background: #e9efff;
  font-family: Arial, sans-serif;
}

.login-box {
  width: 350px;
  margin: 150px auto;
  padding: 40px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}

.container {
  width: 80%;
  margin: 40px auto;
  padding: 40px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}

.title {
  text-align: center;
  margin-top: 40px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

textarea {
  height: 160px;
}

button {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: #2f74ff;
  font-size: 20px;
  border: none;
  color: white;
  cursor: pointer;
}

#status {
  text-align: center;
  margin-top: 10px;
}
