body {
    background: #e9edfc;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

.main-box {
    width: 70%;
    margin: 60px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 20px #d1d1d1;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    font-size: 16px;
}

textarea {
    height: 200px;
    resize: none;
}

button {
    width: 100%;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #2f78ff;
    color: white;
}

button:hover {
    background: #2064d8;
}

.login-box {
    width: 350px;
    margin: 100px auto;
    padding: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px #cfcfcf;
    text-align: center;
}

.login-box input {
    margin-bottom: 20px;
    width: 100%;
}

#status {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
