body{
  background:#eef3ff;
  font-family:Arial;
}
.main{
  width:1100px;
  margin:30px auto;
  padding:30px;
  border-radius:15px;
  background:white;
  box-shadow:0 0 25px rgba(0,0,0,0.15);
}
h2{text-align:center;margin-bottom:25px;}
.row{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}
.row input{
  flex:1;
  padding:12px;
  border:1px solid #ccc;
  border-radius:10px;
}
.rowArea{
  display:flex;
  gap:30px;
}
.rowArea textarea{
  flex:1;
  height:200px;
  border:1px solid #ccc;
  border-radius:10px;
  padding:10px;
}
button{
  padding:12px 50px;
  border:none;
  border-radius:10px;
  background:#3b82f6;
  color:white;
  font-size:18px;
  cursor:pointer;
}
button:hover{background:#2b75ea;}
