body {
    font-family: Arial;
    background: #e9efff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    margin-top: 40px;
    font-size: 36px;
    font-weight: bold;
}

.icon {
    width: 45px;
    vertical-align: middle;
}

.container {
    width: 78%;
    background: white;
    margin: 40px auto;
    padding: 35px;
    border-radius: 25px;
}

.row {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

input, textarea {
    width: 100%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 17px;
}

textarea {
    height: 180px;
}

.send-btn, .logout-btn {
    width: 100%;
    padding: 22px;
    border-radius: 12px;
    border: none;
    font-size: 22px;
    color: white;
}

.send-btn { background: #2e75ff; }
.logout-btn { background: #2e75ff; }

.send-btn:disabled {
    background: gray;
}

.status {
    font-size: 20px;
    margin-top: 20px;
    color: green;
}

/* LOGIN PAGE */
.login-box {
    width: 420px;
    background: white;
    margin: 150px auto;
    padding: 35px;
    border-radius: 20px;
}

.login-box input {
    margin-bottom: 20px;
}
