body{
  background:#eef3ff;
}

.blue-btn{
  background:#3b82f6 !important;
}

#popupOverlay{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.35);
}

#popupBox{
  display:none;
  position:fixed;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
  background:white;
  width:360px;
  padding:25px;
  border-radius:15px;
  text-align:center;
  border-top:6px solid #3b82f6;
  box-shadow:0px 15px 40px rgba(0,0,0,0.15);
}

#popupMsg{
  font-size:19px;
  margin-bottom:20px;
  color:#1f4fbf;
}

#popupBtn{
  background:#3b82f6;
  color:white;
  border:none;
  padding:10px 32px;
  border-radius:8px;
  font-size:17px;
  cursor:pointer;
}
