* { margin:0; padding:0; box-sizing:border-box; font-family:"Segoe UI"; }

body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  padding:20px;
  background:#eef3ff;
}

/* LOGIN */
.login-card {
  background:white;
  width:350px;
  padding:30px;
  border-radius:14px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.login-card input,
.login-card button {
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
}

button {
  background:#3b82f6;
  color:white;
  border:none;
}

/* MAIN */
.container {
  background:white;
  padding:35px;
  width:1100px;
  border-radius:20px;
  box-shadow:0 12px 30px rgba(0,0,0,0.1);
}

.row {
  display:flex;
  gap:20px;
  margin-bottom:20px;
}

textarea {
  min-height:200px;
}

button:hover {
  background:#1e60e5;
}
